:root{
    --dark-gray: #2C3E50;
    --aqua: #1abc9c;
    --white: #FFFFFF;
    --light-gray: #3A546D;
    --black: #333333;
}

body{
    color: var(--white);
}

header, nav, #bottom-footer{
    background-color: var(--dark-gray);
}

#mynav a:hover{
    color: var(--aqua);
}

nav span i{
    font-size: 1.8rem;
}

#hero, #about{
    background-color: var(--aqua);
}

#portfolio, #contact{
    background-color: var(--white);
    color: var(--black);
}

#top-footer{
    background-color: var(--light-gray);
}

#hero img{
    max-width: 250px;
}

h1{
    font-size: 4rem;
}

.star{
    width: 50%;
}

.star i{
    display: block;
    width: 20%;
    font-size: 2rem;
}

.star::before, .star::after{
    content: '';
    display: block;
    width: 40%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--white);
}

.star.black::before, 
.star.black::after{
    background-color: var(--black);
}

.img-container{
    position: relative;
    cursor: pointer;
}

.img-container::after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: var(--white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(26, 188, 156, 0.7);
    opacity: 0;
}

.img-container:hover::after{
    opacity: 1;
}

.btn-aqua{
    background-color: var(--aqua);
    color: var(--white);
    border-color: var(--aqua);
}

#about button{
    background-color: var(--aqua);
    color: var(--white);
}

.ad-btn-about{
    border: 1px solid var(--white);
}